@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
body{ 
    background-color:black;
    background-image:url(../images/netbackground.png);
}
h1{
    color: white;
    text-align: center;
    margin:20%;
    font-size:100px;
    font:"Pixelify+Sans";
}

h2{
    color:white;
    text-align: center;
    margin:20%;
    font-size:70px;
    
}
h2:hover{
    transform: scaleX(0.5);
    transition: rotate(270deg);
}

#star1{
    position:absolute;
    left:80%;
    top:5%;
    scale:60%
    
}
#star2{
    margin: 10%;
}


.purplesun { 
    position:absolute;
    width:200px;
    animation: floatAnimation 10s ease-in-out infinite;

}
@keyframes floatAnimation {
    0% {
        top: 10%;
        left: 10%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(15deg);
    }
    50% {
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%) rotate(30deg);
    }
    75% {
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    100% {
        top: 10%;
        left: 10%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
#google{
    position:relative;
    width:200px;
    animation: floatAnimation 10s ease-in-out infinite;
    transform:rotate(25deg);
}
@keyframes floatAnimation{
    0% {
        top: 10%;
        left: 10%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(15deg);
    }
    50% {
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%) rotate(30deg);
    }
    75% {
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    100% {
        top: 10%;
        left: 10%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

#escape{
    display: flex;
    text-align: center;
    max-width: 50px;
    max-height: 40px;
    margin-left: 50px;
    background-color: red;
    font-size: 20px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
#star3{
    margin-left: 80%;  
    scale:65%;
  }
.blackhole{
    scale:70%;
    transform:rotate(25deg);
    margin-top: 15%;
}
#saturn{
    scale:200%
}
#googlegif{
    scale:200%;
    postion:absolute;
    top:50%;
}
.life{
    position:relative;
    width:auto;
    animation: floatAnimation 10s ease-in-out infinite;
    transform:rotate(25deg);
}
@keyframes floatAnimation{
    0% {
        top: 10%;
        left: 10%;
        transform: translate(20%, 80%) rotate(0deg);
    }
    25% {
        top: 25%;
        left: 50%;
        transform: translate(20%, 80%) rotate(25deg);
    }
    50% {
        top: 50%;
        left: 75%;
        transform: translate(20%, 80%) rotate(50deg);
    }
    75% {
        top: 75%;
        left: 50%;
        transform: translate(20%, 80%) rotate(45deg);
    }
    100% {
        top: 10%;
        left: 10%;
        transform: translate(20%, 80%) rotate(0deg);
    }
}

.sinjin_ps{
    scale:50%;
}
